<nav class="navbar navbar-expand-sm navbar-light bg-light">

	<a class="navbar-brand">Books</a>

	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/books']">List of books</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/books/add']">Add book</a>
		</li>		
	</ul>

</nav>
