<div class="mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serialNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Serial Number</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.serialNumber}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="authors">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Authors</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.authors}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookQty">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Book Qty</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.bookQty}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookQtyCopy">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Book Qty Copy</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.bookQtyCopy}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"><button class="btn btn-link" (click)="onDelete(element.id)"><span class="fa fa-remove"></span></button></mat-cell>
    </ng-container>

    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"><button class="btn btn-link" [routerLink]="['/books/', element.id]"><span class="fa fa-edit"></span></button></mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[3, 6, 20]" showFirstLastButtons></mat-paginator>

  </div>
