.mat-elevation-z8 {
	margin: 50px;
	mat-table  {
		width: 100%;
		th.mat-sort-header-sorted {
			color: black;
		}
		.mat-header-cell {
			font-weight: bold;
			font-size: 15px;
		}
		.mat-cell {
			margin-right: 24px;	
		}
	}
}
