<div class="container-fluid">
  <div class="row">
    <div class="col">
      <katarina-header></katarina-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <katarina-navbar></katarina-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>