<h2>Add new book</h2>

<form [formGroup]='formBook' (submit)="onSubmit()">
	<div class="form-group">
		<label for="exampleInputEmail1">Serial Number:</label>
		<input type="number" class="form-control" id="serialNumber" placeholder="Enter serial number" formControlName="serialNumber">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Name:</label>
		<input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Authors:</label>
		<input type="text" class="form-control" id="authors" placeholder="Enter authors" formControlName="authors">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">BookQty:</label>
		<input type="number" class="form-control" id="bookQty" placeholder="Enter bookQty" formControlName="bookQty">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">BookQtyCopy:</label>
		<input type="text" class="form-control" id="bookQtyCopy" placeholder="Enter authors" formControlName="bookQtyCopy">
	</div>
	<button type="submit" class="btn btn-primary">Add Book</button>
</form>