form {
	margin: 30px;
	padding-bottom: 50px;
	button {
		margin-top: 20px;
		float: right;
		border-radius: 5px;
		width: 150px;
	}
	label {
		font-weight: bold;
		margin-top: 15px;
	}
	button {
		text-transform: uppercase;
		font-weight: bold;
	}
}

h2 {
	margin-top: 30px;
}